#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent;
}

#logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 20px;
}

#top-buttons {
  position: inherit;
  right: 20px;
  margin-top: 40px;
  
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

#country1-button {
  background-color: #e91e63;
  color: white;
}

#country2-button {
  background-color: #e91e63;
  color: white;
}

#country1-button.active,
#country2-button.active {
  background-color: #FF5722;
}

#scroll-bar {
  overflow-y: auto;
  max-height: calc(50px*5.5);
  width: 60px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.player img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}

.player-name {
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
  color: white;
}

.player.selected {
  background-color: #FF5722;
  border-radius: 40%;
  color: white;
}
.teamScoreContainer {
  float: none;
  width: 107px;
  margin: 0 auto;
  margin-top: 10px;
}

.teamFlagContainer {
  /* background-color: blue; */
  float: none;
  margin-top: 20px;
  margin-right: 40px;
}
.teamFlagContainer img {
  width: 40px;
  border-radius: 20px;
  margin-top: -7px;
}

.scoreWrapper {
  background-color: blueviolet;
  float: none;
  margin-top: 0px;
  margin-right: 40px;
}
.scoreWrapper h1 {
  margin: 0;
  font-size: 15px;
  color: white;
  text-align: center;
}
.scoreWrapper p {
  margin: 0;
  font-size: 10px;
  color: white;
  background-color: #FF5722;
  /* width:50%; */
  text-align: center;
}

.player-stats {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  text-align: center;
  display: none;
}

.player-stats p {
  background-color: #333333;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.player-stats .stat-label {
  display: inline-block;
  width: 60px;
  font-weight: bold;
}

.player-stats .stat-value {
  display: inline-block;
}

.player-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 20px;
  background-color: white;
}

.player-info {
  flex: 1 1 auto;
  text-align: left;
}

.player-info p {
  margin: 10px 0;
}



#wagonwheel-button {
  background-color: #2196F3;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#tap-to-place-button {
  background-color: #FF5722;
  color: white;
  position: absolute;
  bottom: 200px;
  left: 140px;
  visibility: block;
}
