@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent;
}

#logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 20px;
}

#top-buttons {
  position: inherit;
  right: 20px;
  margin-top: 40px;
  
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

#country1-button {
  background-color: #e91e63;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#country2-button {
  background-color: #e91e63;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#country1-button.active,
#country2-button.active {
  background-color: #FF5722;
}

#scroll-bar {
  overflow-y: auto;
  max-height: calc(50px*5.5);
  width: 60px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.player img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}

.player-name {
  font-weight: 500;
  font-size: 12px;
  margin-top: 5px;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.player.selected {
  border-radius: 10px;
  border: 1px solid white;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600 !important;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.teamScoreContainer {
  float: none;
  width: 107px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

.teamFlagContainer {
  /* background-color: blue; */
  float: none;
  margin-top: 20px;
  margin-right: 40px;
}
.teamFlagContainer img {
  width: 40px;
  border-radius: 20px;
  margin-top: -7px;
}

.scoreWrapper {
  background-color: blueviolet;
  float: none;
  margin-top: 0px;
  margin-right: 40px;
}
.scoreWrapper h1 {
  margin: 0;
  font-size: 15px;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.scoreWrapper p {
  margin: 0;
  font-size: 10px;
  color: white;
  background-color: #FF5722;
  /* width:50%; */
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.player-stats {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: none;
}

.player-stats p {
  background-color: #333333;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.player-stats .stat-label {
  display: inline-block;
  width: 60px;
  font-weight: bold;
}

.player-stats .stat-value {
  display: inline-block;
}

.player-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 20px;
  background-color: white;
}

.player-info {
  flex: 1 1 auto;
  text-align: left;
}

.player-info p {
  margin: 10px 0;
}



#wagonwheel-button {
  background-color: #2196F3;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: 'Poppins', sans-serif;
}

#tap-to-place-button {
  background-color: #FF5722;
  color: white;
  position: absolute;
  bottom: 200px;
  left: 140px;
  visibility: block;
  font-family: 'Poppins', sans-serif;
}

.runBtn {
  color: white;
  position: absolute;
  bottom: 100px;
  left: 12%;
  visibility: block;
  padding: 10px;
  
}

.rbutton{
  color: #2196F3;
  visibility: block;
  display: inline;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #2196F3;
  font-family: 'Poppins', sans-serif;
}

.runBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 6%;
  
}



.runBtn .rbutton.active {
  border: 1px solid #2196F3;
  font: 18px Arial;
  color: whitesmoke;
  background-color: #2196F3;
  font-weight: bold;
  /* backdrop-filter: blur(10px); */
}

#ARButton {
  border: 2px solid #2196F3 !important;
  color: #2196F3 !important;
  font: 14px Arial !important;
  font-weight: 600 !important;
  opacity: none !important;
  background: none !important;
}

/* 
.rbutton{
  color: #2196F3;
  visibility: block;
  display: inline;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
  background-color: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #2196F3;
}

.runBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 6%;
  
}



.runBtn .rbutton.active {
  border: 1px solid #2196F3;
  font: 18px Arial;
  color: whitesmoke;
  background-color: #2196F3;
  font-weight: bold;
} */
